<template>
  <div class="currentAnalytics">
      <div class="wrapper cur-analyt">
        <p class="title">Current Analytics</p>
        <div id="canvas-holder">
            <canvas id="chart-area" width="200" height="200" />
        </div>
        <div class="holder-holder">
          <div class="holder1">
            <div class="color"></div>
            <p>Moisture: </p>
          </div>
          <div class="holder2">
            <div class="color"></div>
            <p>Light: </p>
            <p id="light">&nbsp; </p>
            <p>%</p>
          </div>
          <div class="holder3">
            <div class="color"></div>
            <p>Water: </p>
            <p id="level">&nbsp; </p>
            <p>%</p>
          </div>
        </div>
      </div>
  </div> 
</template>
<script src="../../node_modules/dist/Chart.js"></script>
<script src="../../node_modules/dist/jquery.js"></script>


<script>
import Chart from 'chart.js';
import $ from "jquery";

export default {
  name: 'currentAnalytics',
  props: {
    msg: String
  },
  mounted: function(){
              var socket = io.connect('http://localhost:3000');
              var randomScalingFactor2;
              var randomScalingFactor1;

              socket.on('data', function(data) {
                  if(data.includes("Light")){
                    data = data.match(/\d+/g);
                    data = Math.round(data / 10);
                    randomScalingFactor2 = data;
                  }
                  else if(data.includes("Level")){
                    data = data.match(/\d+/g);
                    // data = Math.round(data / 10);
                    randomScalingFactor1 = data;
                  }
              });

      Chart.defaults.global.legend.display = false;
      
            var randomScalingFactor3 =  Math.floor(Math.random() * 100);
        
            $('.holder1 p').append(" " + randomScalingFactor3 + "%")

            $('.cur-analyt').children().hide();

        setTimeout( function(){
          
            $('#light').html("	&nbsp;"+randomScalingFactor2); 
            $('#level').html("	&nbsp;"+randomScalingFactor1); 
            $('.cur-analyt').children().fadeIn();

                if (randomScalingFactor3 >= 0 &&  randomScalingFactor3 <= 30)
                {
                  $('.data-sug-mois').html("\"" + "Your plant is too dry, if auto-mode is turned off please water immediately, otherwise I will water it myself with the auto-mode" +"\"");  
                } 
                else if (randomScalingFactor3 >= 31 &&  randomScalingFactor3 <= 70)
                {
                  $('.data-sug-mois').html("\"" + "Soil has enough water, I will keep taking care of the plants and make sure they are healthy" +"\"");  
                } 
                else if (randomScalingFactor3 >= 71 &&  randomScalingFactor3 <= 100)
                {
                  $('.data-sug-mois').html("\"" + "Your plants have all the water they need! I won't let them drown :)" +"\"");  
                } 
          

    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor1,
                    100 - randomScalingFactor1,
                ],
                borderWidth: 12,
                borderColor: "#111",
                    backgroundColor: [
                    "#1D61DA",
                    "transparent",
                ],
            }, {
                data: [
                    randomScalingFactor2,
                    100 - randomScalingFactor2,
                ],
                borderWidth: 12,
                borderColor: "#111",
                    backgroundColor: [
                    "#FFCE62",
                    "transparent",
                ]
            }, {
                data: [
                    randomScalingFactor3,
                    100 - randomScalingFactor3,
                ],
                borderWidth: 12,
                borderColor: "#111",
                backgroundColor: [
                    "#06BB4E",
                    "transparent",
                ],
            }],
            labels: [
                "%",
                "%",
            ]
        },
        options: {
            legend: {
              display: false
            },
            hover: {
              onHover: function(e, el) {
                $("#canvas-holder").css("cursor", el[0] ? "pointer" : "default");
              }
            },
            responsive: true,
        }
    };


    var ctx = document.getElementById("chart-area").getContext("2d");
    var myDoughnut = new Chart(ctx, config);
        },2000)
  }
}
</script>

<style scoped>
    .holder1 p, .holder2 p, .holder3 p
    {
      display: inline-block;
      font-size: calc(0.5vw + 0.4vh + 0.3vh);
    }

    .color
    {
      width: calc(0.4vw + 0.4vh + 0.3vh);
      height: calc(0.4vw + 0.4vh + 0.3vh);
      margin-right: 10px;
      display: inline-block;
      background-color: #FFF;
      border-radius: 50%;
    }

    .holder1 .color
    {
      background-color: #06BB4E;
    }

    .holder2 .color
    {
      background-color: #FFCE62;
    }

    .holder3 .color
    {
      background-color: #1D61DA;
    }

    .holder-holder
    {
      position: absolute;
      bottom: 10%;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    

    #canvas-holder
    {
      pointer-events: none;
      width:60%;
      position: relative;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .currentAnalytics
    {
      grid-column: span 1;
      width: 100%;
      height: 60vh;
    }

    .wrapper
    {
      /* background-color: rgba(11,11,11,0.3); */
      background-color: #111;
      width: 80%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .title
    {
      font-size: 25px;
      padding: 10%;
      padding-top: 5%;
    }

    @media screen and (max-width: 767px)
    {
      .currentAnalytics
      {
        grid-column: span 3;
        width: 100%;
        height: 40vh;
      }

      .wrapper
      {
        width: 90%;
      }

      #canvas-holder
      {
        top: 20%;
      }

      .title
      {
        font-size: 16px;
      }

      .holder1 p, .holder2 p, .holder3 p
      {
        display: inline-block;
        font-size: calc(0.7vw + 0.5vh + 0.5vh);
      }
    }
</style>
