<template>
  <div class="Events">
      <div class="wrapper evnt">
        <p class="title">Events Overview and Suggestions</p>
        <div class="event-moisture event">
          <div class="color"></div>
          <h1>Moisture</h1>
          <p class="data-sug-mois data-sug" id="data-sug"></p>
        </div>


        <div class="event-water event">
          <div class="color"></div>
          <h1>Water</h1>
          <p class="data-sug-water data-sug" id="data-sug"></p>
        </div>

        <div class="event-light event">
          <div class="color"></div>
          <h1>Light</h1>
          <p class="data-sug-light data-sug" id="data-sug"></p>
        </div>

      </div>
  </div> 
</template>
<script src="../../node_modules/dist/jquery.js"></script>

<script>
import $ from "jquery";

export default {
  
  name: 'Events',
  props: {
    msg: String
  },
  mounted: function(){
              var socket = io.connect('http://localhost:3000');
              var randomScalingFactor2;
              var randomScalingFactor1;

              socket.on('data', function(data) {
                  if(data.includes("Light")){
                    data = data.match(/\d+/g);

                    data = Math.round(data / 10);
                    randomScalingFactor2 = data;
                  }
                  else if(data.includes("Level")){
                    data = data.match(/\d+/g);

                    randomScalingFactor1 = data;
                  }
              });

              
              $('.evnt').children().hide();

              setTimeout( function(){

                $('.evnt').children().fadeIn();

                if (randomScalingFactor1 >= 0 &&  randomScalingFactor1 <= 5)
                {
                  $('.data-sug-water').html("\"" + "NO WATER! PLEASE FILL UP!" +"\"");  
                } 
                else if (randomScalingFactor1 >= 6 &&  randomScalingFactor1 <= 20)
                {
                  $('.data-sug-water').html("\"" + "Seed Box will run out of water very soon, please fill up the water container so the plant continues to grow!" +"\"");  
                } 
                else if (randomScalingFactor1 >= 21 &&  randomScalingFactor1 <= 60)
                {
                  $('.data-sug-water').html("\"" + "Seed Box has enough water to be running for a while, but keep an eye on it, please!" +"\"");  
                } 
                else if (randomScalingFactor1 >= 61 &&  randomScalingFactor1 <= 100)
                {
                  $('.data-sug-water').html("\"" + "Seed Box’s tank is all full! Thank you for refilling the tank!" +"\"");  
                } 


                if (randomScalingFactor2 >= 0 &&  randomScalingFactor2 <= 30)
                {
                  $('.data-sug-light').html("\"" + "We encourage you to put your plant somewhere with the sunlight shining on the plant. That way we can save up energy and let plants get natural lighting. " +"\"");  
                } 
                else if (randomScalingFactor2 >= 31 &&  randomScalingFactor2 <= 70)
                {
                  $('.data-sug-light').html("\"" + "Your plant is getting the perfect amount of lighting. I suspect they will continue growing rapidly!" +"\"");  
                } 
                else if (randomScalingFactor2 >= 71 &&  randomScalingFactor2 <= 100)
                {
                  $('.data-sug-light').html("\"" + "Your plants are getting too much direct sunlight. I suspect the plants will be negatively affected by this, please move the Seed Box to another location!" +"\"");  
                } 

              }, 2000) 
  }
}
</script>

<style scoped>
    .data-sug
    {
      min-height: 70px;
    }

    .event h1
    {
      display: inline-block;
      font-weight: 900;
      font-family: 'Poppins-Medium';
      font-size: calc(0.8vw + 0.7vh + 0.5vh);
    }
    .event p
    {
      font-size: calc(0.6vw + 0.5vh + 0.5vh);
      margin-left: calc(5% + 10px + calc(0.6vw + 0.5vh + 0.5vh));
      margin-right: calc(5% + 10px + calc(0.6vw + 0.5vh + 0.5vh));
      font-family: 'Poppins-Light-Italic';
    }

    .color
    {
      width: calc(0.6vw + 0.5vh + 0.5vh);
      height: calc(0.6vw + 0.5vh + 0.5vh);
      margin-left: 5%;
      margin-right: 10px;
      display: inline-block;
      background-color: #FFF;
      border-radius: 50%;
    }

    .event-moisture .color
    {
      background-color: #06BB4E;
    }

    .event-water .color
    {
      background-color: #1D61DA;
    }

    .event-light .color
    {
      background-color: #FFCE62;
    }

    .title
    {
      font-size: 25px;
      padding: 5%;
      padding-top: 5%;
      padding-bottom: 2%;
    }

    .Events
    {
          grid-column: span 2;
          width: 100%;
          height: 60vh;
    }

    .wrapper
    {
      background-color: #111;
      width: 90%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media screen and (max-width: 767px)
    {
      .Events
      {
        grid-column: span 3;
        width: 100%;
        height: 120%;
      }

      .title
      {
        font-size: 16px;
        left: 10%;
      }

      .date-wrapper p
      {
        font-size: 10px;
      }

      .wrapper-chart .date-wrapper
      {
        bottom: 10%;
      }

      .data-sug
      {
        min-height: 0px;
      }
    }
</style>
