<template>
  <div class="RecentWork">
      <div class="wrapper rec">
        <p class="title">Recent Work</p>
        <div class="work-item">
          <h1 class="work-title">Spectrum LED <span class="work-status">OFF</span></h1>
          <p class="work-date">March 26, 10:13</p>
        </div>

                <div class="work-item">
          <h1 class="work-title">Spectrum LED <span class="work-status">ON</span></h1>
          <p class="work-date">March 26, 10:01</p>
        </div>

        <div class="work-item">
          <h1 class="work-title">Adjusting <span class="work-status">Moisture</span></h1>
          <p class="work-date">March 26, 9:27</p>
        </div>
        

      </div>
  </div> 
</template>
<script src="../../node_modules/dist/jquery.js"></script>

<script>
import $ from "jquery";

export default {
  name: 'RecentWork',
  props: {
    msg: String
  },
  mounted: function(){

    $('.rec').children().hide();
    setTimeout( function(){
      $('.rec').children().fadeIn();
    },2000)
  }
}
</script>

<style scoped>
    .work-item
    {
      width: 80%;
      margin: 0 auto;
      margin-top: 5%;
    }

    .work-item h1
    {
      font-size: calc(0.8vw + 0.8vh + 0.5vh);
    }

    .work-item p
    {
      opacity: 0.5;
      font-size: calc(0.4vw + 0.3vh + 0.3vh);
    }

    .work-item span
    {
      
      font-family: 'Poppins-Bold';
    }

    .RecentWork
    {
      grid-column: span 1;
      width: 100%;
      height: 60vh;
    }

    .wrapper
    {
      background-color: #111;
      width: 80%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
    }

    .title
    {
      font-size: 25px;
      padding-left: 10%;
      padding-top: 5%;
    }

    @media screen and (max-width: 767px)
    {
      .RecentWork
      {
        margin-top: 15%;
        grid-column: span 3;
        width: 100%;
        height: 100%;
      }

      .wrapper
      {
        width: 90%;
      }

      .title
      {
        font-size: 16px;
        left: 10%;
      }
    }
</style>
