<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>SeedBox</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    <script>
            
      // $(document).ready(function(){
      //     var socket = io.connect('http://localhost:3000');

      //     // console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!");
      //     socket.on('data', function(data) {
      //         // console.log(data);
      //         data = Math.round(data / 10);
      //         $('#light').html("	&nbsp;"+data); 
      //         var randomScalingFactor2 = data;
      //     });
      // });
      </script>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
