<template>
  <div class="body-wrap">
        <div class="auto-on-off-light">
          <div class="align">
            <button class="manual" id="auto"><p>Auto</p></button>
            <div class="devider"></div>
            <button class="auto" id="manual"><p>Manual</p></button>
          </div>
        </div>
  <div class="LightBody">
    <Status/>
    <LightIntense/>
    <Events/>
    <Loader/>
  </div> 
  </div>
</template>
<script src="../../node_modules/dist/jquery.js"></script>

<script>
import $ from "jquery";

import Status from './lightBodyComp/Status.vue'
import LightIntense from './lightBodyComp/LightIntense.vue'
import Events from './lightBodyComp/Events.vue'
import Loader from './loader.vue'


export default {
  name: 'lightBody',
  components: {
    Status,
    LightIntense,
    Events,
    Loader
  }
}
</script>

<style scoped>

.LightBody
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 92vw;
  height: 100%;
  float: right;
}

.auto-on-off-light
{
  height: 18vh;
  width: 92vw;
  float: right;
  /* background-color: red; */
}

.align
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(400px + 0.1vw + 100px);
}

.auto-on-off-light button, .auto-on-off-light .devider
{
  display: inline-block;
  vertical-align: middle;
}

.auto-on-off-light button
{
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 50px;
}

.auto-on-off-light .auto
{
  background-color: #06BB4E;
  transition: 0.3s;
}

.auto-on-off-light .auto:hover
{
  opacity: 0.5;
  transform: scale(1.05)
}

.auto-on-off-light .auto:active
{
  opacity: 1;
  transform: scale(0.95);
  background-color: #1A1A1A;
  border: 2px white solid;
}

.auto-on-off-light .auto:focus
{
  opacity: 1;
  transform: scale(1);
  background-color: #1A1A1A;
  border: 2px white solid;
}

.auto-on-off-light .manual:hover
{
  opacity: 0.7;
  transform: scale(1.05)
}

.auto-on-off-light .manual:active
{
  opacity: 1;
  transform: scale(0.95);
  background-color: #1A1A1A;
  border: 3px white solid;
}

.auto-on-off-light .manual:focus
{
  opacity: 1;
  transform: scale(1);
  border: 2px #06BB4E solid;
}

.auto-on-off-light .manual
{
  background-color: #1A1A1A;
  border: 2px white solid;
  transition: 0.3s;
}

.auto-on-off-light .manual p
{
  font-size: 20px;
  color: white;
}

.auto-on-off-light .auto p
{
  font-size: 20px;
  color: white;
}

.auto-on-off-light .devider
{
  width: 0.1vw;
  height: 10vh;
  margin: 0 50px;
  background-color: white;
}

    @media screen and (max-width: 767px)
    {
      .auto-on-off-light
      {
        width: 100vw;
      }

      .align
      {
        width: calc(300px + 0.3vw + 40px);
      }

      .auto-on-off-light .devider
      {
        width: 0.3vw;
        margin: 0 20px;
      }

      .auto-on-off-light button
      {
        width: 150px;
      }

    }

</style>
