<template>
  <div class="loader">
  <div>
    <div class="mesh-loader">
      <div class="set-one">
        <div class="circle" :style="style"></div>
        <div class="circle" :style="style"></div>
      </div>
      <div class="set-two">
        <div class="circle" :style="style"></div>
        <div class="circle" :style="style"></div>
      </div>
    </div>
  </div>
  </div> 
</template>

<script src="../../node_modules/dist/jquery.js"></script>

<script>
import $ from "jquery";


export default {
  name: 'lightBody',
  props: {
    msg: String
  },
    props: ['color'],
    computed: {
      style () {
        return 'background: ' + ( this.$route.name.includes('light') ? "#FFCE62" : 
                                        this.$route.name.includes('moisture') ? "#06BB4E" : 
                                        this.$route.name.includes('water') ? "#1D61DA" :
                                        '#FFF');
      }
    },
  mounted: function(){

    // $('.loader').children().show();
    setTimeout( function(){
      $('.loader').children().fadeOut();
    },2000)
  }
}
</script>

<style scoped>

.loader
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.mesh-loader {
  overflow: hidden;
  height: inherit;
  width: inherit;
}
.mesh-loader .circle {
  width: 15px;
  height: 15px;
  position: absolute;
  background: #06BB4E;
  border-radius: 50%;
  margin: -7.5px;
  -webkit-animation: mesh 3s ease-in-out infinite -1.5s;
  animation: mesh 3s ease-in-out infinite -1.5s;
}

.mesh-loader > div .circle:last-child {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.mesh-loader > div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.mesh-loader > div:last-child {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

@keyframes mesh {
  0% {
    -webkit-transform-origin: 50% -100%;
    transform-origin: 50% -100%;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform-origin: 50% -100%;
    transform-origin: 50% -100%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  50.1% {
    -webkit-transform-origin: 50% 200%;
    transform-origin: 50% 200%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 200%;
    transform-origin: 50% 200%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

</style>
