<template>
  <div class="mainBody">
    <CurrentAnalytics/>
    <RecentMoisture/>
    <Events/>
    <RecentWork/>
    <Loader/>
  </div> 
</template>

<script>

import CurrentAnalytics from './mainBodyComp/CurrentAnalytics.vue'
import RecentMoisture from './mainBodyComp/RecentMoisture.vue'
import Events from './mainBodyComp/Events.vue'
import RecentWork from './mainBodyComp/RecentWork.vue'
import Loader from './loader.vue'


export default {
  name: 'mainBody',
  components: {
    CurrentAnalytics,
    RecentMoisture,
    Events,
    RecentWork,
    Loader
  },
  props: {
    msg: String
  }
}
</script>

<style scoped>

.mainBody
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 92vw;
  height: 100%;
  float: right;
}


@media screen and (max-width: 767px)
    {
      .mainBody
      {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100vw;
        height: 100%;
        float: right;
        margin-top: 10vw;
      }
    }

</style>
