<template>
  <div>
    <div class="mob-menu">
      <div class="mob-menu-wrap">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
    <div class="menu" id="menu">
      <div class="logo"></div>
      <div class="general-menu">
        <p>General</p>
        <ul>
          <li @click="goHome()" :class="[currentPage.includes('home') ? 'active' : '', 'nav-item']"><img src="../assets/overview-icon.png"><span>Overview</span></li>
          <li @click="goLight()" :class="[currentPage.includes('light') ? 'active' : '', 'nav-item']"><img src="../assets/light-icon.png"><span>Light Cycle</span></li>
          <li @click="goMoisture()" :class="[currentPage.includes('moisture') ? 'active' : '', 'nav-item']"><img src="../assets/moisture-icon.png"><span>Moisture</span></li>
          <li @click="goWater()" :class="[currentPage.includes('water') ? 'active' : '', 'nav-item']"><img src="../assets/level-icon.png"><span>Water Level</span></li>
          <li @click="goType()" :class="[currentPage.includes('type') ? 'active' : '', 'nav-item']"><img src="../assets/plant-icon.png"><span>Plant Type</span></li>
        </ul>
      </div>

      <div class="general-menu">
        <p>Settings</p>
        <ul>
          <li><img src="../assets/profile-icon.png"><span>Profile</span></li>
          <li><img src="../assets/privacy-icon.png"><span>Privacy</span></li>
          <li><img src="../assets/notifications-icon.png"><span>Notifications</span></li>
          <li><img src="../assets/general-icon.png"><span>General</span></li>
          <li><img src="../assets/support-icon.png"><span>Support</span></li>
        </ul>
      </div>

      <div class="user-icon">
        <div class="user-icon-center">
          <p class="logout">Logout</p>
          <img src="../assets/user-icon.png">
        </div>
      </div>
    </div> 
  </div>
</template>

<script src="../../node_modules/dist/jquery.js"></script>

<script>
import $ from "jquery";

export default {
  name: 'Menu',
  props: {
    msg: String
  },
  computed:{
    currentPage(){
      return this.$route.name
    },
  },
  methods:{
    goHome() 
    {
      this.$router.push({path:'/'})
    },
    goLight() 
    {
      this.$router.push({path:'/light'})
    },
    goMoisture() 
    {
      this.$router.push({path:'/moisture'})
    },
    goWater() 
    {
      this.$router.push({path:'/water'})
    },
    goType() 
    {
      this.$router.push({path:'/plant-type'})
    },
  },
  mounted: function(){

    $('.mob-menu').click(function(){
      if (document.getElementById('menu').offsetLeft < "0"){

        $('.menu').animate({
          'left': '0'
        })
        $(this).animate({
          'left': '75vw'
        })

        $('.line2').animate({
          'opacity': '0'
        })

        $('.line1').css({
          'transform': 'rotate(45deg) translate(5px, 3px)',
        })
        $('.line3').css({
          'transform': 'rotate(-45deg) translate(3px, -3px)',
        })

        $(".user-icon").animate({
          'left': '15vw'
        })

      }
      else
      {
        
        $('.menu').animate({
          'left': '-35vw'
        })

        $(this).animate({
          'left': '0vw'
        })

        $('.line2').animate({
          'opacity': '1'
        })

        $('.line1').css({
          'transform': 'rotate(0deg) translate(0px, 0px)',
        })
        $('.line3').css({
          'transform': 'rotate(0deg) translate(0px, -0px)',
        })

        $(".user-icon").animate({
          'left': '-15vw'
        })

      }

    })
  }
}
</script>

<style scoped>

  .mob-menu
  {
    display:none;
  }

  .menu
  {
      position: fixed;
      left: 0px;
      top: 0;
      background-color: #222;
      height: 100vh;
      width: 8vw;
      z-index: 10;
  }

  .logo
  {
      width: 100%;
      height: 15%;
      background-image: url("../assets/SeedBox.png");
      background-size: 70%;
      background-position: center;
      background-repeat: no-repeat;
      border-bottom: #333 1px solid;
  }

  .general-menu
  {
      text-decoration: none;
      margin-top: 15%;
      padding-left: 1vw;
      border-bottom: #333 1px solid;
  }

  .general-menu p
  {
      font-size: calc(0.4vw + 0.3vh + 0.3vmin);
      opacity: 0.5;
  }

  .general-menu ul
  {
      margin-bottom: 20%;
      margin-left: 0.5vw;
      list-style: none;
  }

  .general-menu li
  {
      font-size: calc(0.4vw + 0.3vh + 0.3vmin);
      margin-top: 20%;
      opacity: 0.5;
      transition: 0.3s;
      cursor: pointer;
  }

  .general-menu li:hover
  {
      opacity: 1;
  }

  .general-menu li:active
  {
    transform: scale(0.9);
  }

  .general-menu li img{
      vertical-align: middle;
      margin-right: 5%;
      width: 12%;
  }

  .general-menu li span{
      vertical-align: middle;
  }

  .user-icon
  {
      position: fixed;
      bottom: 3vh;
      left: 4vw;
      transform: translateX(-50%);
      width: 8vw;
  }

  .user-icon-center
  {
      text-align: center;
      width: 80%;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
  }

  .user-icon .logout
  {
      color: #FFF;
      opacity: 0.5;
      margin-bottom: 15px;
      cursor: pointer;
      transition: 0.3s;
  }

  .user-icon .logout:hover
  {
      opacity: 1;
  }

    @media screen and (max-width: 767px)
    {
      .menu
      {
          position: fixed;
          left: -30vw;
          top: 0;
          background-color: #222;
          height: 100vh;
          width: 30vw;
          z-index: 10;
      }

      .mob-menu-wrap
      {
        position: absolute;
        top: 50%;
        left: 57.5%;
        transform: translate(-50%, -50%);
        width: 100%;
      }

      .line1, .line2, .line3
      {
        width: 70%;
        height: 2px;
        background-color: #FFF;
        margin: 3px;
      }

      .line2
      {
        width: 50%;
      }
      

      .mob-menu
      {
        position: fixed;
        display:block;
        width: 10vw;
        height: 10vw;
        z-index: 11;
        background-color: #222;
        border-radius: 50px;
        margin: 5vw;
        margin-left: 7vw;
      }

      .general-menu p
      {
          font-size: calc(0.8vw + 0.5vh + 0.5vmin);
      }

      .general-menu li
      {
          font-size: calc(0.9vw + 0.6vh + 0.5vmin);
      }

      .general-menu
      {
          text-decoration: none;
          margin-top: 15%;
          padding-left: 5vw;
          border-bottom: #333 1px solid;
      }

      .user-icon
      {
          position: fixed;
          bottom: 3vh;
          left: -15vw;
          transform: translateX(-50%);
          width: 30vw;
      }

      .user-icon-center img
      {
        width: 8vh;
      }

      .user-icon .logout
      {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }

</style>
