<template>
  <div class="body-wrap">
        <div class="auto-on-off-moisture">
          <div class="align">
            <button class="auto" id="auto"><p>Auto</p></button>
            <div class="devider"></div>
            <button class="manual" id="manual"><p>Manual</p></button>
          </div>
        </div>
    <div class="moistureBody">
      <Status/>
      <RecentMoisture/>
      <Tip/>
      <CurrentTask/>
      <Loader/>
    </div> 
  </div>
</template>

<script>

import Status from './moistureBodyComp/Status.vue'
import RecentMoisture from './moistureBodyComp/RecentMoisture.vue'
import Tip from './moistureBodyComp/Tip.vue'
import CurrentTask from './moistureBodyComp/CurrentTask.vue'
import Loader from './loader.vue'


export default {
  name: 'moistureBody',
  components: {
    Status,
    RecentMoisture,
    Tip,
    CurrentTask,
    Loader
  },
  props: {
    msg: String
  }
}
</script>

<style scoped>
.auto-on-off-moisture
{
  height: 18vh;
  width: 92vw;
  float: right;
  /* background-color: red; */
}

.align
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(400px + 0.1vw + 100px);
}

.auto-on-off-moisture button, .auto-on-off-moisture .devider
{
  display: inline-block;
  vertical-align: middle;
}

.auto-on-off-moisture button
{
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 50px;
}

.auto-on-off-moisture .auto
{
  background-color: #06BB4E;
  transition: 0.3s;
}

.auto-on-off-moisture .auto:hover
{
  opacity: 0.5;
  transform: scale(1.05)
}

.auto-on-off-moisture .auto:active
{
  opacity: 1;
  transform: scale(0.95);
  background-color: #1A1A1A;
  border: 2px white solid;
}

.auto-on-off-moisture .auto:focus
{
  opacity: 1;
  transform: scale(1);
  background-color: #1A1A1A;
  border: 2px white solid;
}

.auto-on-off-moisture .manual:hover
{
  opacity: 0.7;
  transform: scale(1.05)
}

.auto-on-off-moisture .manual:active
{
  opacity: 1;
  transform: scale(0.95);
  background-color: #1A1A1A;
  border: 3px white solid;
}

.auto-on-off-moisture .manual:focus
{
  opacity: 1;
  transform: scale(1);
  border: 2px #06BB4E solid;
}

.auto-on-off-moisture .manual
{
  background-color: #1A1A1A;
  border: 2px white solid;
  transition: 0.3s;
}

.auto-on-off-moisture .manual p
{
  font-size: 20px;
  color: white;
}

.auto-on-off-moisture .auto p
{
  font-size: 20px;
  color: white;
}

.auto-on-off-moisture .devider
{
  width: 0.1vw;
  height: 10vh;
  margin: 0 50px;
  background-color: white;
}

.moistureBody
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 92vw;
  height: 100%;
  float: right;
}

@media screen and (max-width: 767px)
    {
      .auto-on-off-moisture
      {
        width: 100vw;
      }

      .align
      {
        width: calc(300px + 0.3vw + 40px);
      }

      .auto-on-off-moisture .devider
      {
        width: 0.3vw;
        margin: 0 20px;
      }

      .auto-on-off-moisture button
      {
        width: 150px;
      }

    }

</style>
