<template>
  <div class="body-wrap">
  <div class="TypeBody">
    <!-- <Loader/> -->
    <h1 class="title">Choose Your Plant Type</h1>
    <div class="type-wrapper">
      <div class="type type1">
        <h1>Veggies</h1>
        <img src="../assets/veggies.png" alt="Veggies">
        <div class="choices">
          <p>Basil</p><br>
          <p>Dill Weed</p><br>
          <p>Coriander</p><br>
          <p>Mint</p><br>
          <p>Cherry Tomatoes</p><br>
        </div>
      </div>
      <div class="type type2">
        <h1>Fruits</h1>
        <img src="../assets/fruits.png" alt="Fruits">
        <div class="choices">
          <p>Peaches</p><br>
          <p>Figs</p><br>
          <p>Kiwi</p><br>
          <p>Grape</p><br>
          <p>Gooseberries</p><br>
        </div>
      </div>
      <div class="type type3">
        <h1>Berries</h1>
        <img src="../assets/berries.png" alt="Fruits">
        <div class="choices">
          <p>Raspberry</p><br>
          <p>Blueberries</p><br>
          <p>Blackberries</p><br>
          <p>Honeyberries</p><br>
          <p>Goji berries</p><br>
        </div>
      </div>
      <div class="type custom">
        <h1>Custom</h1>
        <img src="../assets/custom.png" alt="Fruits">
      </div>
    </div>
  </div> 
  </div>
</template>
<script src="../../node_modules/dist/jquery.js"></script>

<script>
import $ from "jquery";

// import Loader from './loader.vue'


export default {
  name: 'lightBody',
  components: {
    // Loader
  },
  mounted: function(){
    $('.choices p').hide();

    function click(name) 
    {

      function hey(){

        $(name).click(function(){
          if (this.offsetHeight == "250"){
            $(this).css({
              'height': '400px',
              'transform': 'translateY(75px)',
            })

            setTimeout(function(){
              $(name + ' .choices p').fadeIn()
            }, 300)
          }
          else {
            $(this).css({
              'height': '250px',
              'transform': 'translateY(0px)',
            })

            $(name + ' .choices p').hide()
          }
        })

      }

      hey()

      $(name + ' .choices p').mouseover(function(){
        $(name).unbind('click');
      })
      $(name + ' .choices p').mouseleave(function(){
        hey()
      })

      $(name + ' .choices p').click(function () {
        $(this).toggleClass('bg');
      });

    }

    click(".type1")
    click(".type2")
    click(".type3")
  }
}
</script>

<style scoped>

.type-wrapper
{
  width: 80vw;

  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
  
  position: absolute;
  top: 50%;
  left: calc(50% + 4vw);
  transform: translate(-50%, -50%);
}

.bg
{
  background-color: #06BB4E;
}

.type
{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #111;
  transition: 0.3s;
  cursor: pointer;
}

.type:hover
{
  background-color: #262626;
}

.custom
{
  cursor: not-allowed;
}

h1
{
  margin-top: 20px;
  text-align: center;
}

.title
{
  margin-top: 15vh;
  font-size: calc(1vw + 1vh + 0.7vmin);
  font-family: 'Poppins-Medium';
}

.type img
{
  height: 125px;
  display: block;
  margin: 20px auto;
  pointer-events: none;
}

.choices
{
  text-align: center;
}

.choices p 
{
  padding: 0 10px;
  border-radius: 50px;
  margin: 10px;
  display: inline;
  transition: 0.3s;
  /* background-color: transparent; */
}

.choices p:hover
{
  background-color: #06BB4E;
}

.TypeBody
{
  width: 92vw;
  height: 100%;
  float: right;
}

    @media screen and (max-width: 767px)
    {
      .TypeBody
      {
        width: 100vw;
      }

      .type-wrapper
      {
        width: 100vw;

        display: flex;
        flex-wrap: wrap;
        
        align-items: center;
        
        position: unset;
        top: 0%;
        left: calc(0%);
        transform: translate(0%, 0%);
      }

      .type
      {
        margin: 50px auto;
      }

      .title
      {
        font-size: calc(1.5vw + 1.5vh + 1vmin);
      }
    }

</style>
