@font-face {
    font-family: Poppins;
    src: url("../assets/Fonts/Poppins-Regular.ttf");
  }

  @font-face {
    font-family: Poppins-Light;
    src: url("../assets/Fonts/Poppins-ExtraLight.ttf");
  }

  @font-face {
    font-family: Poppins-Light-Italic;
    src: url("../assets/Fonts/Poppins-ExtraLightItalic.ttf");
  }

  @font-face {
    font-family: Poppins-Medium;
    src: url("../assets/Fonts/Poppins-Medium.ttf");
  }

  @font-face {
    font-family: Poppins-Bold;
    src: url("../assets/Fonts/Poppins-Bold.ttf");
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #111;
  opacity: 1;
  color: #0F0;
}

.active
{
  opacity: 1 !important;
}

.active:hover
{
  opacity: 0.7 !important;
}

.active:active
{
  opacity: 1 !important;
}

body, html
{
    background-color: #1A1A1A;
    color: #FFF;
    font-family: Poppins-Light;
    scrollbar-width: none;
}