<template>
  <div class="wifi">
    <div class="wrapper">
      <div class="logo"></div>
      <p class="start">Let's Start Growing</p>
      <form id="form">
        <input type="text" id="fname" name="fname" placeholder="Email..."><br>
        <input type="password" id="lname" name="lname" placeholder="Password..."><br>
        <div id="submit"><p>Login</p></div>
      </form> 
      <p class="fp">Forgot Password?</p>
      <p class="dhac">Don't have an account?</p>
      <p class="or">OR</p>
      <div class="ggl"></div>
      <div class="fb"></div>
    </div>
    <!-- 2 -->
    <div class="connection step2">
      <div class="wrapper" style="background-color: transparent">
        <div class="logo"></div>
        <p class="start">Let's connect you to the plant</p>
        <p class="fp">Choose your WiFi</p>
        <div class="wifi-connection">
          <div class="signal strong"></div>
          <p class="wifi-name">Virus_DONUT</p>
        </div>
        <div class="wifi-connection">
          <div class="signal middle"></div>
          <p class="wifi-name">Tall_Penguin</p>
        </div>
        <div class="wifi-connection">
          <div class="signal weak"></div>
          <p class="wifi-name">Beliy_Shokolad</p>
        </div>
        <p class="connect step2-connect">Connect</p>
      </div>
    </div>
    <!-- 3 -->
    <div class="pair step3">
      <div class="wrapper" style="background-color: transparent">
        <div class="logo"></div>
        <p class="start">Let's connect you to the plant</p>
        <p class="fp">Enter your WiFi password</p>
        <form id="form">
          <input type="text" id="lname" name="lname" placeholder="Password..."><br>
        </form> 
        <p class="connect step3-connect">Connect</p>
      </div>
    </div>
    <!-- 4 -->
    <div class="connection step4">
      <div class="wrapper" style="background-color: transparent">
        <div class="logo"></div>
        <p class="start">Let's connect you to the SEEDBOX</p>
        <p class="fp">Choose your SEEDBOX</p>
        <div class="wifi-connection">
          <div class="signal strong"></div>
          <p class="wifi-name">Slava_SEEDBOX</p>
        </div>
        <div class="wifi-connection">
          <div class="signal weak"></div>
          <p class="wifi-name">BEST_SEEDBOX</p>
        </div>
        <p class="connect step4-connect">Connect</p>
      </div>
    </div>
    <!-- 5 -->
    <div class="pair step5">
      <div class="wrapper" style="background-color: transparent">
        <div class="logo"></div>
        <p class="start">Let's connect you to the SEEDBOX</p>
        <p class="fp">Enter your 4 digit SEEDBOX passkey</p>
        <p class="fp">You cant find it on the back</p>
        <form id="form">
          <input type="text" id="lname" name="lname" placeholder="Passkey..."><br>
        </form> 
        <p class="connect step5-connect">Connect</p>
      </div>
    </div>
    <!-- 6 -->
    <div class="done step6">
      <div class="wrapper" style="background-color: transparent">
        <p class="sc">Succesfully Connected!</p>
        <div class="checkmark"></div>
      </div>
    </div>
  </div>
</template>

<script src="../../node_modules/dist/jquery.js"></script>

<script>
import $ from "jquery";

export default {
  name: 'Menu',
  props: {
    msg: String
  },
  mounted: function(){
    $('.wifi-connection').click(function(){
      $(this).css({
        'color':'#06BB4E'
      })
    })

    $('#submit').click(function(){
      $(".step2").css({
        'display':'block'
      })
      $(".step2").animate({
        'opacity':'1'
      })
    })

    $('.step2-connect').click(function(){
      $(".step3").css({
        'display':'block'
      })
      $(".step3").animate({
        'opacity':'1'
      })
    })

    $('.step3-connect').click(function(){
      $(".step4").css({
        'display':'block'
      })
      $(".step4").animate({
        'opacity':'1'
      })
    })

    $('.step4-connect').click(function(){
      $(".step5").css({
        'display':'block'
      })
      $(".step5").animate({
        'opacity':'1'
      })
    })

    $('.step5-connect').click(function(){
      $(".step6").css({
        'display':'block'
      })
      $(".step6").animate({
        'opacity':'1'
      })

      setTimeout(function(){
        $(".wifi").animate({
          'opacity':'0'
        })
        setTimeout(function(){
          $(".wifi").css({
            'display':'none'
          })
        },1000)
      },4000)
    })

  }
}
</script>

<style scoped>
/* .wifi{
  display: none;
} */

.checkmark
{
  background-image: url("../assets/done.png");
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transition: 0.3s cubic-bezier(0.075, 1.22, 0.165, 1); */
  animation: pop 1.5s ;
}

@keyframes pop
{
  0%{
    transform: translate(-50%, -50%) scale(0.1);
  }

  50%{
    transform: translate(-50%, -50%) scale(1.2);
  }

  100%{
    transform: translate(-50%, -50%) scale(1);
  }
}

.step2, .step3, .step4, .step5, .step6
{
  display: none;
  opacity: 0;
}

.sc
{
  text-align: center;
  font-size: 30px;
}

.wifi-connection
{
  width: 200px;
  height: 20px;
  margin: 20px auto;
  transition: 0.3s;
  cursor: pointer;
}

.wifi-connection:hover
{
  transform: scale(1.1);
}

.wifi-connection:active
{
  transform: scale(1  );
}

.connect
{
  background-color: #444;
  width: 20%;
  text-align: center;
  margin: 50px auto;
  padding: 5px 0;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.connect:hover
{
  background-color: #333;
}

.signal
{
  background-image: url("../assets/wifi-3.png");
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.middle
{
  background-image: url("../assets/wifi-2.png");
}

.weak
{
  background-image: url("../assets/wifi-1.png");
}

.wifi-name
{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 20px;
}

.connection, .pair, .done
{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  width: 100vw;
  height: 100vh;
}

.wifi
{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  background-image: url("../assets/backgound.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: 1;
}

.ggl, .fb
{
  width: 30px;
  height: 30px;
  background-color: #FFF;
  display: inline-block;
  position: relative;
  left: calc(50% - 15px - 40px);
  transform: translateX(-50%);
  margin: 0 20px;
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: not-allowed;
}

.ggl
{
  background-image: url("../assets/google.png");
}

.fb
{
  background-image: url("../assets/fb.png");
}

.fp, .dhac, .or
{
  text-align: center;
  padding: 5px;
  font-size: 10px;
  cursor:not-allowed;
}

.or
{
  font-size: 20px;
}

.wrapper
{
  width: 600px;
  height: 600px;
  background-color: rgba(11,11,11, 0.7);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input
{
  border: 1px white solid;
  margin: 10px auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 25px;
  border-radius: 5px;
  background-color: transparent;
  color: #FFF;
  font-family: 'Poppins';
  padding-left: 10px;
  /* font-size: 16px; */
}

#submit
{
  padding: 0;
  width: 100px;
  margin: 20px auto;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: 1px white solid;
}

#submit:hover
{
  background-color: #FFF;
  color: #111;
}


  .logo
  {
      width: 150px;
      height: 150px;
      background-image: url("../assets/SeedBox.png");
      background-size: 70%;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 auto;
      margin-top: 20px;
  }

  .start
  {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }

@media screen and (max-width: 767px)
{

}

</style>
