<template>
  <div class="Events">
      <div class="wrapper ev">
       <div class="icon"></div> <p class="title">Basil Facts 101</p>
       <p class="fact-title">Did You Know :</p>
       <p class="fact-par">Sweet basil has clove-like aroma, lemon basil has lemony taste while cinnamon basil has sweet, cinnamon-like aroma. Besides its aroma, basil has high nutritional value.</p>
      </div>
  </div> 
</template>
<script src="../../node_modules/dist/jquery.js"></script>


<script>
import $ from "jquery";


export default {
  name: 'Events',
  props: {
    msg: String
  },
  mounted: function(){
                  $('.ev').children().hide();
                  setTimeout(function(){
                    $('.ev').children().fadeIn();
                  },2000)
  }
}
</script>

<style scoped>
    .Events
    {
          grid-column: span 3;
          width: 104%;
          height: 20vh;
          transform: translateX(-2%);
    }

    .wrapper
    {
      background-color: #111;
      width: 90%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .title
    {
      font-size: 25px;
      display: inline-block;
      /* font-family: "Poppins-Bold"; */
    }

    .fact-title
    {
      margin-left: 2%;
      margin-top: .5%;
      margin-right: 1%;
      font-size: 20px;
      font-family: "Poppins-Bold";
    }

    .fact-par
    {
      margin-left: 2%;
      margin-top: .1%;
      margin-right: 1%;
      font-size: 16px;
    }

    .icon
    {
      margin-left: 2%;
      margin-top: 1.5%;
      margin-right: 1%;
      width: 25px;
      height: 25px;
      display: inline-block;
      background-image: url("../../assets/basil.png");
      background-position: center;
      background-size: 110%;

    }

    @media screen and (max-width: 767px)
    {
      .Events
      {
        grid-column: span 3;
        width: 90%;
        height: 30vh;
        transform: translateX(-0%);
      }

      .wrapper
      {
        width: 100%;
      }

      .title
      {
        font-size: 16px;
        left: 10%;
      }

      .icon
      {
        margin-left: 5%;
        margin-top: 5%;
      }

      .fact-title
      {
        margin-left: 5%;
      }

      .fact-par
      {
        margin-left: 5%;
      }
    }
</style>
