<template>
  <div class="LightIntencity">
      <div class="wrapper li">
        <p class="title">Light Intencity</p>
        <div class="wrapper-chart">
          <canvas id="myChartLine" ></canvas>
        </div>
      </div>
  </div> 
</template>
<script src="../../node_modules/dist/Chart.js"></script>
<script src="../../node_modules/dist/jquery.js"></script>


<script>
import Chart from 'chart.js';
import $ from "jquery";

export default {
  name: 'LightIntencity',
  props: {
    msg: String
  }, 
  mounted: function(){
    function randomScalingFactor1(){
      return Math.floor(Math.random() * 100)
    };

              var socket = io.connect('http://localhost:3000');
              var randomScalingFactor2;

              socket.on('data', function(data) {
                  if(data.includes("Light")){
                    data = data.match(/\d+/g);
                    data = Math.round(data / 10);
					randomScalingFactor2 = data;
                  }});

    
    $('.li').children().hide();
    setTimeout( function(){
      $('.li').children().fadeIn();

    function getDate6(number)
    {
      var today = new Date();
      var hourago = new Date(today.getTime() - (number*1000*60*60));

      return hourago.getHours() + ":" + hourago.getMinutes()
    }


    var configLine = {
    type: 'line',
    data: {
        labels: 	[ getDate6(6), getDate6(5),	getDate6(4),	getDate6(3),	getDate6(2),	getDate6(1),	getDate6(0)],
        datasets: [{
            data: [randomScalingFactor1(),	
                  randomScalingFactor1(),	
                  randomScalingFactor1(),	
                  randomScalingFactor1(),	
                  randomScalingFactor1(),	
                  randomScalingFactor1(),	
                  randomScalingFactor2,
            ], 
            fill: true,
            borderColor: '#FFCE62', 
            lineTension: 0,
            borderWidth: 2,
            padding: 12,
        }]},
    options: {
      legend: {
        display: false
      },
        scales: {
            yAxes: [{ticks: {mirror: true}}],
        },
        responsive: true,
    }
};


  var ctxLine = document.getElementById("myChartLine").getContext("2d");
  var myLine = new Chart(ctxLine, configLine);
    },2000);
  }
}
</script>

<style scoped>
    .date-wrapper p
    {
      pointer-events: none;
    }

    .wrapper-chart .date-wrapper
    {
      pointer-events: none;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom:0%;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
    }

    .LightIntencity
    {
        grid-column: span 2;
        width: 100%;
        height: 60vh;
    }

    .wrapper-chart
    {
      width: 95%;
      height: 80%;
      position: relative;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #myChartLine
    {
      width: 100%;
      height: 100% !important;
      /* border-radius: 50px; */
    }

    .wrapper
    {
      background-color: #111;
      width: 90%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .title
    {
      position: absolute;
      left: 5%;
      top: 5%;
      font-size: 25px;
      pointer-events: none;
    }

    @media screen and (max-width: 767px)
    {
      .LightIntencity
      {
        grid-column: span 3;
        width: 90%;
        height: 30vh;
      }

      .wrapper
      {
        width: 100%;
      }

      .title
      {
        font-size: 16px;
        left: 10%;
      }
    }
</style>
