<template>
  <div class="currentAnalytics">
      <div class="wrapper ca">
        <p class="title">Status</p>

        <div class="wrapper-inside">
            <p>Current Intensity</p>
            <span class="cur-int">Not Found</span>

            <p>Position</p>
            <div>
              <label class="switch">
                <input class="switch-input" type="checkbox" />
                <span class="switch-label" data-on="On" data-off="Off"></span> 
                <span class="switch-handle"></span> 
              </label>
            </div>

            <p>Profile</p>
            <span>Basil</span>
        </div>

      </div>
  </div> 
</template>
<script src="../../node_modules/dist/jquery.js"></script>


<script>
import $ from "jquery";

export default {
  name: 'currentAnalytics',
  props: {
    msg: String
  },
  mounted: function(){
              var socket = io.connect('http://localhost:3000');
              var randomScalingFactor2;

              socket.on('data', function(data) {
                  if(data.includes("Light")){
                    data = data.match(/\d+/g);
                    data = Math.round(data / 10);
					randomScalingFactor2 = data;
					$('.cur-int').html(randomScalingFactor2 + "%");
                  }});

                  $('.ca').children().hide();
                  setTimeout(function(){
                    $('.ca').children().fadeIn();
                  },2000)
  }
}

</script>

<style scoped>
.switch {
  float: right;
	position: relative;
	display: block;
	/* vertical-align: top; */
	width: 80px;
	height: 30px;
	padding: 3px;
	/* margin: 0 10px 10px 0; */
	background: linear-gradient(to bottom, #222, #222 25px);
	background-image: -webkit-linear-gradient(top, #222, #222 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px #222, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	right: 80px;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #1e1e1e;
	border-radius: inherit;
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #FFF;
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #E1B42B;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #222 40%, #222);
	background-image: -webkit-linear-gradient(top, #222 40%, #222);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #222, #222);
	background-image: -webkit-linear-gradient(top, #222, #222);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 54px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

/****** */

    .wrapper-inside
    {
      width: 90%;
      display: grid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 75px;
      font-size: calc(0.6vw + 0.5vh + 0.5vmin);
    }

    .wrapper-inside span
    {
      text-align: right;
    }

    .currentAnalytics
    {
      grid-column: span 1;
      width: 100%;
      height: 60vh;
    }

    .wrapper
    {
      background-color: #111;
      width: 80%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .title
    {
      font-size: 25px;
      padding: 10%;
      padding-top: 5%;
    }

    @media screen and (max-width: 767px)
    {
      .currentAnalytics
      {
        grid-column: span 3;
        width: 90%;
        height: 40vh;
      }

      .wrapper
      {
        width: 100%;
      }

      .title
      {
        font-size: 16px;
        left: 10%;
      }

      .wrapper-inside
      {
        width: 80%;
        font-size: calc(1vw + 0.8vh + 0.5vmin);
      }
    }
</style>
