<template>
  <div class="CurrentTask">
      <div class="wrapper ct">
        <p class="title">Current Task: <span>AUTO</span></p>
        <p class="text">SEEDBOX is lowering moisture levels to improve the growth rate, within the next few days</p>

      </div>
  </div> 
</template>
<script src="../../node_modules/dist/jquery.js"></script>

<script>
import $ from "jquery";

export default {
  name: 'CurrentTask',
  props: {
    msg: String
  },
  mounted: function(){

    $('.ct').children().hide();
    setTimeout( function(){
      $('.ct').children().fadeIn();
    },2000)
  }
}
</script>

<style scoped>

    .CurrentTask
    {
      grid-column: span 2;
      width: 100%;
      height: 20vh;
    }

    .wrapper
    {
      background-color: #111;
      width: 90%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
    }

    .title
    {
      font-size: 25px;
      padding-left: 5%;
      padding-top: 2.5%;
    }

    .text
    {
      font-size: 20px;
      padding-left: 5%;
      padding-top: 2.5%;
    }

    .title span
    {
      font-family: 'Poppins-Bold';
    }

    @media screen and (max-width: 767px)
    {
      .CurrentTask
      {
        grid-column: span 3;
        width: 90%;
        height: 120%;
      }

      .wrapper
      {
        width: 100%;
      }

      .title
      {
        font-size: 16px;
        padding-left: 10%;
      }

      .text
      {
        font-size: 14px;
        padding-left: 10%;
        width: 90%;
      }
    }
</style>
