<template>
  <div class="RecentMoisture">
      <div class="wrapper rec-mois">
        <p class="title">Recent Moisture</p>
        <div class="wrapper-chart">
          <canvas id="myChart" ></canvas>
          <div class="date-wrapper">
            <p class="date1">Hello</p>
            <p class="date2">Hello</p>
            <p class="date3">Hello</p>
            <p class="date4">Hello</p>
            <p class="date5">Hello</p>
            <p class="date6">Hello</p>
            <p class="date7">Hello</p>
          </div>
        </div>
      </div>
  </div> 
</template>
<script src="../../node_modules/dist/Chart.js"></script>
<script src="../../node_modules/dist/jquery.js"></script>


<script>
import Chart from 'chart.js';
import $ from "jquery";

export default {
  name: 'RecentMoisture',
  props: {
    msg: String
  }, 
  mounted: function(){
    function randomScalingFactor1(){
      return Math.floor(Math.random() * 100)
    };

    
    function getDate6(number)
    {
      var d = new Date();

      var ourDate = new Date();
      var pastDate = ourDate.getDate() - number
      ourDate.setDate(pastDate)
      
      var months = ["Jan.","Feb.","Mar.","Apr.","May","June","July","Aug.","Sep.","Oct.","Nov.","Dec."];

      return months[ourDate.getMonth()] + " " + ourDate.getDate()
    }

    $('.date1').html(getDate6(6))
    $('.date2').html(getDate6(5))
    $('.date3').html(getDate6(4))
    $('.date4').html(getDate6(3))
    $('.date5').html(getDate6(2))
    $('.date6').html(getDate6(1))
    $('.date7').html(getDate6(0))

            $('.rec-mois').children().hide();
        setTimeout( function(){
                  $('.rec-mois').children().fadeIn();


    var config = {
    type: 'line',
    data: {
        labels: 	[ getDate6(6), getDate6(5),	getDate6(4),	getDate6(3),	getDate6(2),	getDate6(1),	getDate6(0)],
        datasets: [{
            // label: 'Series 1', 
            data: [randomScalingFactor1(),	
                  randomScalingFactor1(),	
                  randomScalingFactor1(),	
                  randomScalingFactor1(),	
                  randomScalingFactor1(),	
                  randomScalingFactor1(),	
                  randomScalingFactor1(),
            ], 
            fill: true,
            borderColor: 'rgba(6, 187, 78, 1)', 
            backgroundColor: 'rgba(6, 187, 78, 0.4)', 
            borderWidth: 4,
            padding: 12,
        }]},
    options: {
      legend: {
        display: false
      },
        scales: {
            yAxes: [{ticks: {mirror: true},
            display: false}],
            xAxes: [{
                display: false
            }]
        },
        responsive: true,
    }
};


  var ctx = document.getElementById("myChart").getContext("2d");
  var myDoughnut = new Chart(ctx, config);
  
        },2000)
  }
}
</script>

<style scoped>
    .date-wrapper p
    {
      pointer-events: none;
    }

    .wrapper-chart .date-wrapper
    {
      pointer-events: none;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom:0%;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
    }

    .RecentMoisture
    {
        grid-column: span 2;
        width: 100%;
        height: 60vh;
    }

    .wrapper-chart
    {
      width: 100%;
      height: 10%;
    }

    #myChart
    {
      width: 100%;
      height: 1000% !important;
      border-radius: 50px;
    }

    .wrapper
    {
      background-color: #111;
      width: 90%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .title
    {
      position: absolute;
      left: 5%;
      top: 5%;
      font-size: 25px;
      pointer-events: none;
    }

    @media screen and (max-width: 767px)
    {
      .RecentMoisture
      {
        grid-column: span 3;
        width: 90%;
        height: 20vh;
      }

      .wrapper
      {
        width: 100%;
      }

      .title
      {
        font-size: 16px;
        left: 10%;
      }

      .date-wrapper p
      {
        font-size: 10px;
      }

      .wrapper-chart .date-wrapper
      {
        bottom: 10%;
      }
    }
</style>
