<template>
  <div class="moistureStatus">
      <div class="wrapper cur-moisture">
        <p class="title">Status</p>

        <div class="wrapper-inside">
            <p>Soil Moisture</p>
            <span class="cur-mois">Not Found</span>

            <p>Set Target</p>
            <span class="target">60%</span>

            <p>Profile</p>
            <span>Basil</span>
        </div>

      </div>
  </div> 
</template>
<script src="../../node_modules/dist/jquery.js"></script>


<script>
import $ from "jquery";

export default {
  name: 'moistureStatus',
  props: {
    msg: String
  },
  mounted: function(){
          

           var myVar = setInterval(function(){

              function random(){
                return Math.floor(Math.random() * 100);
              }

              $('.cur-mois').html( random() + "%")

              var numb = $('.cur-mois').text();

              if ( parseInt(numb) >= 60)
              {
                $('.cur-mois').css("color", "#06BB4E")
              } 
              else if ( parseInt(numb) >= 30)
              {
                $('.cur-mois').css("color", "#FFCE62")
              } 
              else if ( parseInt(numb) >= 0)
              {
                $('.cur-mois').css("color", "#FF401D")
              } 

            },2000)

            $('.cur-moisture').children().hide();

            setTimeout( function(){
              $('.cur-moisture').children().fadeIn();
            },2000)
              // var socket = io.connect('http://localhost:3000');
              // var randomScalingFactor2;

              // socket.on('data', function(data) {
              //     if(data.includes("Light")){
              //       data = data.match(/\d+/g);
              //       data = Math.round(data / 10);
              //       randomScalingFactor2 = data;
              //       $('.cur-mois').html(randomScalingFactor2 + "%");
              //     }});
  }
}

</script>

<style scoped>

    .wrapper-inside
    {
      width: 90%;
      display: grid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 75px;
      font-size: calc(0.6vw + 0.5vh + 0.5vmin);
    }

    .wrapper-inside p
    {
    }

    .wrapper-inside span
    {
      text-align: right;
    }

    .moistureStatus
    {
      grid-column: span 1;
      width: 100%;
      height: 60vh;
    }

    .wrapper
    {
      background-color: #111;
      width: 80%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .title
    {
      font-size: 25px;
      padding: 10%;
      padding-top: 5%;
    }

    @media screen and (max-width: 767px)
    {
      .moistureStatus
      {
        grid-column: span 3;
        width: 90%;
        height: 40vh;
      }

      .wrapper
      {
        width: 100%;
      }

      .title
      {
        font-size: 16px;
        left: 10%;
      }

      .wrapper-inside
      {
        width: 80%;
        font-size: calc(1vw + 0.8vh + 0.5vmin);
      }
    }
</style>
