<template>
  <div class="Tip">
      <div class="wrapper tip">
        <p class="title">Humidity Tip</p>
        <div class="written-area">
          <p class="tip-title">Hey</p>
          <p class="tip-p">Hey</p>
        </div>
      </div>
  </div> 
</template>
<script src="../../node_modules/dist/jquery.js"></script>

<script>
import $ from "jquery";

export default {
  
  name: 'Tip',
  props: {
    msg: String
  },
  mounted: function(){

    var jon = {title: 'Do this to increase growth:', par: 'Keep relative moisture levels above <b>60%</b> using trays of water or a humidifer if necessary. Keep temperatures in the <b>high 70s, low 80s</b> Fahrenheit.'};
    var lucy = {title: 'Do this to keep your plant in top shape:', par: 'Don’t stand house plants near radiators and other heat sources. If the plants are even near the heatsource it can impact them in a negative way.'};
    var mike = {title: 'Do this for tropical plants:', par: 'Hot showers and steaming baths create a naturally humid environment in the bathroom, making it the ideal location for growing the more delicate exotic plants.'};

    var words = [
        jon,
        lucy,
        mike,
    ];

    var randomTitle = words[Math.floor(Math.random() * words.length)]

                $('.tip').children().hide();

                  setTimeout( function(){

                    $('.tip').children().fadeIn();

                  },2000)

    $('.tip-title').html(randomTitle.title)
    $('.tip-p').html(randomTitle.par)
  }
}
</script>

<style scoped>

    .title
    {
      font-size: 25px;
      padding: 10%;
      padding-top: 5%;
      padding-bottom: 2%;
    }

    .Tip
    {
          grid-column: span 1;
          width: 100%;
          height: 40vh;
    }

    .wrapper
    {
      background-color: #111;
      width: 80%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .tip-title
    {
      padding-left: 10%;
      padding-top: 5%;
      font-size: calc(0.7vw + 0.6vh + 0.5vmin);
      font-family: 'Poppins-Bold';
    }

    .tip-p
    {
      padding: 10%;
      padding-top: 2%;
      padding-bottom: 2%;

      font-size: calc(0.5vw + 0.5vh + 0.4vmin)
    }

    .written-area
    {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    @media screen and (max-width: 767px)
    {
      .Tip
      {
        grid-column: span 3;
        width: 90%;
        height: 17vh;
      }

      .wrapper
      {
        width: 100%;
      }

      .title
      {
        font-size: 16px;
        left: 10%;
      }
    }
</style>
