<template>
  <div class="BotCurrentWater">
      <div class="wrapper bcw">
        <div><p class="title">Water Level: <span>Not Found</span> </p><div class="color-title"></div></div>
        <p class="cur-water-text">SEEDBOX is lowering moisture levels to improve the growth rate, within the next few days</p>

      </div>
  </div> 
</template>
<script src="../../node_modules/dist/jquery.js"></script>

<script>
import $ from "jquery";

export default {
  name: 'BotCurrentWater',
  props: {
    msg: String
  },
  mounted: function(){
                  var socket = io.connect('http://localhost:3000');
              var randomScalingFactor2;

              socket.on('data', function(data) {
                  if(data.includes("Level")){
                    data = data.match(/\d+/g);
                    data = Math.round(data / 10);
                    randomScalingFactor2 = data;
              }});

    $('.bcw').children().hide();
    setTimeout( function(){
      $('.title span').html(randomScalingFactor2 + "%");

                if (randomScalingFactor2 >= 0 &&  randomScalingFactor2 <= 10)
                {
                  $('.cur-water-text').html("The water tank is completely empty, please refill it.");  
                  $('.color-title').css("background-color", 'red');  
                } 
                else if (randomScalingFactor2 >= 11 &&  randomScalingFactor2 <= 30)
                {
                  $('.cur-water-text').html("The water tank is at a moderate level, keep an eye on it.");  
                  $('.color-title').css("background-color", '#FEC75D'); 
                } 
                else if (randomScalingFactor2 >= 31 &&  randomScalingFactor2 <= 70)
                {
                  $('.cur-water-text').html("The water level is at the hallway point, if your going away please refil the water tank to the fill line "); 
                  $('.color-title').css("background-color", '#FAFF00');  
                } 
                else if (randomScalingFactor2 >= 71 &&  randomScalingFactor2 <= 90)
                {
                  $('.cur-water-text').html("The water tank is full, no need to refill any time soon.");  
                  $('.color-title').css("background-color", '#7DFE5D');  
                } 
                



      $('.bcw').children().fadeIn();
    },2000)
  }
}
</script>

<style scoped>

    .BotCurrentWater
    {
      grid-column: span 2;
      width: 100%;
      height: 20vh;
    }

    .color-title
    {
      width: 2vw;
      height: 2vw;
      display: inline-block;
      background-color: azure;
      transform: translateY(0.5vw);
      margin-left: 20px;
      border-radius: 50px;
    }

    .wrapper
    {
      background-color: #111;
      width: 90%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
    }

    .title
    {
      font-size: 25px;
      padding-left: 5%;
      padding-top: 2.5%;
      display: inline-block;
    }

    .cur-water-text
    {
      font-size: 20px;
      padding-left: 5%;
      padding-top: 2.5%;
    }

    .title span
    {
      font-family: 'Poppins-Bold';
    }

     @media screen and (max-width: 767px)
    {
      .BotCurrentWater
      {
        grid-column: span 3;
        width: 90%;
        height: 15vh;
      }

      .wrapper
      {
        width: 100%;
      }

      .title, .cur-water-text
      {
        font-size: 16px;
        left: 15%;
        padding-left: 10%;
      }

      .color-title
      {
        width: 16px;
        height: 16px;
      }
    }
</style>
