<template>
  <div class="Legend">
      <div class="wrapper legend">
        <p class="title">Water Level Legend</p>

        <div class="leg-wrap">

          <div class="legend-line">
            <div class="color full"></div>
            <p class="stat">Tank is Full</p>
          </div>

          <div class="legend-line">
            <div class="color mod"></div>
            <p class="stat">Tank is Moderate Level</p>
          </div>

          <div class="legend-line">
            <div class="color half"></div>
            <p class="stat">Tank is at Half Point</p>
          </div>

          <div class="legend-line">
            <div class="color ref"></div>
            <p class="stat">Tank needs to be refilled</p>
          </div>

        </div>

      </div>
  </div> 
</template>
<script src="../../node_modules/dist/jquery.js"></script>

<script>
import $ from "jquery";

export default {
  
  name: 'Legend',
  props: {
    msg: String
  },
  mounted: function(){

                $('.legend').children().hide();

                  setTimeout( function(){

                    $('.legend').children().fadeIn();

                  },2000)
  }
}
</script>

<style scoped>


    .leg-wrap
    {
      position: absolute;
      top: 55%;
      width: 100%;
      transform: translateY(-50%);
    }

    .legend-line
    {
      padding: 2% 0;
    }

    .color
    {
      width: 2.3vw;
      height: 2.3vw;
      display: inline-block;
      background-color: #FFF;
      vertical-align: middle;
      border-radius: 50px;
      margin: 0 20px 0 10%;
    }

    .full
    {
      background-color: #7DFE5D;
    }

    .mod
    {
      background-color: #FAFF00;
    }

    .half
    {
      background-color: #FEC75D;
    }

    .ref
    {
      background-color: #FF0000;
    }

    .stat
    {
      vertical-align: middle;
      display: inline-block;
    }

    .title
    {
      font-size: 25px;
      padding: 10%;
      padding-top: 5%;
      padding-bottom: 2%;
    }

    .Legend
    {
          grid-column: span 1;
          width: 100%;
          height: 40vh;

          position: relative;
          top: calc(-20vh + 10px);
          overflow: hidden; 
    }

    .wrapper
    {
      background-color: #111;
      width: 80%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media screen and (max-width: 767px)
    {
      .Legend
      {
        grid-column: span 3;
        top: 0;
        width: 90%;
        height: 30vh;
      }

      .wrapper
      {
        width: 100%;
      }

      .title
      {
        font-size: 16px;
        left: 10%;
      }
    }
</style>
