<template>
  <div class="moistureStatus">
      <div class="wrapper cur-wat">
        <p class="title">Status</p>

        <div class="wrapper-inside">
            <p>Water Level (%)</p>
            <span class="cur-water">Not Found</span>

            <p>Water Level (L)</p>
            <span class="water-level-l">Not Found</span>
        </div>

      </div>
  </div> 
</template>
<script src="../../node_modules/dist/jquery.js"></script>


<script>
import $ from "jquery";

export default {
  name: 'moistureStatus',
  props: {
    msg: String
  },
  mounted: function(){
          
              var socket = io.connect('http://localhost:3000');
              var randomScalingFactor2;

              socket.on('data', function(data) {
                  if(data.includes("Level")){
                    data = data.match(/\d+/g);
                    data = Math.round(data / 10);
                    randomScalingFactor2 = data;
                    $('.cur-water').html(randomScalingFactor2 + "%");           
                     var litersConv = Math.fround(randomScalingFactor2 / 100 * 1.5)
                    $('.water-level-l').html(litersConv.toFixed(2) + " L")

                    
                    if ( randomScalingFactor2 >= 0 &&  randomScalingFactor2 <= 10)
                    {
                      $('.cur-water').css("color", "red")
                    } 
                    else if ( randomScalingFactor2 >= 11 &&  randomScalingFactor2 <= 30)
                    {
                      $('.cur-water').css("color", "#FEC75D")
                    } 
                    else if ( randomScalingFactor2 >= 31 &&  randomScalingFactor2 <= 70)
                    {
                      $('.cur-water').css("color", "#FAFF00")
                    } 
                    else if ( randomScalingFactor2 >= 71 &&  randomScalingFactor2 <= 100)
                    {
                      $('.cur-water').css("color", "#7DFE5D")
                    } 
              }});


            $('.cur-wat').children().hide();

            setTimeout( function(){

              $('.cur-wat').children().fadeIn();
            },2000)

  }
}

</script>

<style scoped>

    .wrapper-inside
    {
      width: 90%;
      display: grid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 75px;
      font-size: calc(0.6vw + 0.5vh + 0.5vmin);
    }

    .wrapper-inside p
    {
    }

    .wrapper-inside span
    {
      text-align: right;
    }

    .moistureStatus
    {
      grid-column: span 1;
      width: 100%;
      height: 40vh;
    }

    .wrapper
    {
      background-color: #111;
      width: 80%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .title
    {
      font-size: 25px;
      padding: 10%;
      padding-top: 5%;
    }

    @media screen and (max-width: 767px)
    {
      .moistureStatus
      {
        grid-column: span 3;
        width: 90%;
        height: 30vh;
      }

      .wrapper
      {
        width: 100%;
      }

      .title
      {
        font-size: 16px;
        left: 10%;
      }

      .wrapper-inside
      {
        width: 80%;
        font-size: calc(1vw + 0.8vh + 0.5vmin);
      }
    }
</style>
