<template>
  <div class="WaterLevel">
      <div class="wrapper rec-water">
        <p class="title">Water Level</p>
        <div class="wrapper-chart">
          <canvas id="waterChart" ></canvas>
        </div>
        <div class="liters">
          <div><p>1.5L</p> <hr></div>
          <div><p>1L</p> <hr></div>
          <div><p>0.5L</p> <hr></div>
          <div><p>0L</p> <hr></div>
        </div>
      </div>
  </div> 
</template>
<script src="../../node_modules/dist/Chart.js"></script>
<script src="../../node_modules/dist/jquery.js"></script>


<script>
import Chart from 'chart.js';
import $ from "jquery";

export default {
  name: 'WaterLevel',
  props: {
    msg: String
  }, 
  mounted: function(){
    function randomScalingFactor1(){
      return Math.floor(Math.random() * 100)
    };

              var socket = io.connect('http://localhost:3000');
              var randomScalingFactor2;

              socket.on('data', function(data) {
                  if(data.includes("Level")){
                    data = data.match(/\d+/g);
                    data = Math.round(data / 10);
                    randomScalingFactor2 = data;
              }});

    
    $('.rec-water').children().hide();
        setTimeout( function()
        {
          $('.rec-water').children().fadeIn();

    var config = {
    type: 'line',
    data: {
        labels: 	[ randomScalingFactor2 + "%", randomScalingFactor2 + "%", randomScalingFactor2 + "%"],
        datasets: [{
            // label: 'Series 1', 
            data: [randomScalingFactor2,	
                  randomScalingFactor2,	
                  randomScalingFactor2,	
            ], 
            fill: true,
            borderColor: '#1D61DA', 
            // backgroundColor: 'rgba(6, 187, 78, 0.4)', 
            borderWidth: 4,
            padding: 12,
        }]},
    options: {
      legend: {
        display: false
      },
        scales: {
            yAxes: [{ticks: {mirror: true, suggestedMin: 0,
                    suggestedMax: 100},
            display: false}],
            xAxes: [{
                display: false
            }]
        },
        responsive: true,
    }
};


  var waterctx = document.getElementById("waterChart").getContext("2d");
  var myWater = new Chart(waterctx, config);
  
        },2000)
  }
}
</script>

<style scoped>

    .liters
    {
      position: absolute;
      top: 0;
      left: 2%;

      height: 100%;

      display: grid;

      pointer-events: none;
    }

    .liters p
    {
      padding-top: calc(5vh + 6px);
      font-size: 12px;
      display: inline-block;
      opacity: 0.3;
      /* vertical-align: bottom; */
    }

    .liters hr
    {
      display: inline-block;
      width: 50vw;
      opacity: 0.1;
    }

    .WaterLevel
    {
        grid-column: span 2;
        width: 100%;
        height: 60vh;
    }

    .wrapper-chart
    {
      width: 100%;
      height: 10%;
    }

    #waterChart
    {
      width: 100%;
      height: 1000% !important;
      border-radius: 50px;
    }

    .wrapper
    {
      background-color: #111;
      width: 90%;
      height: 90%;
      border-radius: 50px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .title
    {
      position: absolute;
      left: 5%;
      top: 5%;
      font-size: 25px;
      pointer-events: none;
    }

    @media screen and (max-width: 767px)
    {
      .WaterLevel
      {
        grid-column: span 3;
        width: 90%;
        height: 20vh;
        overflow: hidden;
      }

      .liters
      {
        position: absolute;
        top: 0;
        left: 85%;
      }

      .liters hr
      {
        width: 70vw;
        opacity: 0;
        display: none;
      }

      .wrapper
      {
        width: 100%;
      }

      .title
      {
        font-size: 16px;
        left: 10%;
      }

      .liters p
      {
        padding-top: calc(1vh + 6px);
        font-size: 12px;
        display: inline-block;
        opacity: 0.3;
        /* vertical-align: bottom; */
      }
    }
</style>
