<template>

  <div id="app">
    <Menu/>
  <!-- <transition
    v-on:before-enter="beforeEnter"
    v-on:enter="enter"
    v-on:leave="leave"
    v-bind:css="false"
  > -->
    <router-view/>
    <WiFi/>
  <!-- </transition> -->
  </div>
</template>


<script>
import Velocity from "velocity-animate"
import Menu from './components/Menu.vue'
import WiFi from './components/WiFi.vue'
// import MainBody from './components/MainBody.vue'

export default {
  name: 'App',
  components: {
    Menu,
    WiFi,
    // MainBody
  },
  methods: {
    beforeEnter: function (el) {
      el.style.opacity = 0
    },
    enter: function (el) {
      Velocity(el, { opacity: 1})
    },
    leave: function (el, done) {
      Velocity(el, {
        opacity: 0
      }, { complete: done })
    },
  }
}
</script>

<style>
  @import './components/style.css'
</style>
